<!-- Denpointment System
github.com/Tzesh/Denpointment -->

<footer class="container bg-black pt-4 pb-4">
    <div class="row">
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse1" aria-expanded="true" aria-controls="multiCollapse1">About
                us
            </button>
        </div>
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse2" aria-expanded="true" aria-controls="multiCollapse2">Contact
                us
            </button>
        </div>
        <div class="col-sm-12 col-xl-4">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapse3" aria-expanded="true" aria-controls="multiCollapse3">Designed by
                Tzesh
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse1">
            <div class="card card-body">
                <h3>Denpointment</h3>
                <p>Denpointment is a system that allows you to book a dentist appointment online.</p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse2">
            <div class="card card-body">
                <h3>About project</h3>
                <p>Stay tuned in <a href="https://github.com/Tzesh/Denpointment">Denpointment</a></p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 multi-collapse show" id="multiCollapse3">
            <div class="card card-body">
                <h3>Designed by Tzesh</h3>
                <p>Designed by <a href="https://www.ugurdindar.com">Uğur Dindar (Tzesh)</a></p>
            </div>
        </div>
    </div>
</footer>