<!-- Denpointment System
github.com/Tzesh/Denpointment -->

{% extends "_inner_layout.html" %}
{% block title %}Add Address{% endblock %}
{% block section %}
    <h1>Adding address information</h1>
    <p>Please fulfill the necessary fields to associate address with your profile.</p>
{% endblock %}
{% block article %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method=post class="text-center form-floating">
        <dl>
            {{ render_field(form.city, class="form-control mb-3 w-100") }}
            {{ render_field(form.street, class="form-control mb-3 w-100") }}
            {{ render_field(form.zip_code, class="form-control mb-3 w-100") }}
        </dl>
        <input type=submit value=Add class="btn btn-outline-primary w-100">
    </form>
{% endblock %}