<!-- Denpointment System
github.com/Tzesh/Denpointment -->

{% extends "_inner_layout.html" %}
{% block title %}My Appointments{% endblock %}
{% block section %}
    <h1>My Appointments</h1>
{% endblock %}
{% block article %}
    <h4>Welcome {{ session["full_name"] }},</h4>
    <h5>Upcoming Appointments:</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dentist</th>
                <th scope="col">Room</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% if upcoming_appointments %}
                {% for appointment in upcoming_appointments %}
                    <tr>
                        <td scope="row">{{ appointment.first_name }} {{ appointment.last_name }}</td>
                        <td scope="row">{{ appointment.room }}</td>
                        <td scope="row">{{ appointment.hour }}
                            on {{ appointment.day }}/{{ appointment.month }}/{{ appointment.year }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">You don't have an appointment yet.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <h5>Past Treatments:</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Dentist</th>
                <th scope="col">Room</th>
                <th scope="col">Date</th>
                <th scope="col">Charge</th>
                <th scope="col">Action</th>
                <th scope="col">Complaint</th>
                <th scope="col">Medicine</th>
            </tr>
            </thead>
            <tbody>
            {% if past_appointments %}
                {% for appointment in past_appointments %}
                    <tr>
                        <td scope="row">{{ appointment.first_name }} {{ appointment.last_name }}</td>
                        <td scope="row">{{ appointment.room }}</td>
                        <td scope="row">{{ appointment.hour }} {{ appointment.day }}/{{ appointment.month }}/{{ appointment.year }}</td>
                        {% if not appointment.charge %}
                            <td colspan="4">N/A</td>
                        {% else %}
                            <td scope="row">{{ appointment.charge }}</td>
                            <td scope="row">{{ appointment.action }}</td>
                            <td scope="row">{{ appointment.complaint }}</td>
                            <td scope="row">
                                {% if appointment.medicine_id %}
                                    <a href="./treatment-medicines-{{ appointment.treatment_id }}"
                                       class="btn btn-primary">Medicines</a>
                                {% else %}
                                    Not assigned
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">You don't have an appointment yet.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}