<!-- Denpointment System
github.com/Tzesh/Denpointment -->

{% extends "_inner_layout.html" %}
{% block title %}Modify phone{% endblock %}
{% block section %}
    <h1>Modifying phone number</h1>
    <p>Please enter a valid phone number to take place of existing one.</p>
{% endblock %}
{% block article %}
    {% from "includes/_formhelpers.html" import render_field %}
    <form method=post class="text-center form-floating">
        <dl>
            {{ render_field(form.contact_number, class="form-control mb-3 w-100") }}
        </dl>
        <input type=submit value=Add class="btn btn-outline-primary w-100">
    </form>
{% endblock %}