<!-- Denpointment System
github.com/Tzesh/Denpointment -->

{% extends "_inner_layout.html" %}
{% block title %}Patient Profile{% endblock %}
{% block section %}
    <h1>{{ patient.first_name }} {{ patient.last_name }}</h1>
{% endblock %}
{% block article %}
    <h5>SSN: {{ patient.ssn }}</h5>
    <h5>Email: {{ patient.email }}</h5>
    <h5>Gender: {{ patient.gender }}</h5>
    <h5>Birth date: {{ patient.birth_date }}</h5>
    <h5>Chronic diseases:</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Chronic Disease</th>
            </tr>
            </thead>
            <tbody>
            {% if chronic_diseases %}
                {% for chronic in chronic_diseases %}
                    <tr>
                        <td scope="row">{{ chronic.chronic_disease }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Doesn't have a chronic disease logged in yet.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <h5>Phones:</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            {% if phones %}
                {% for phone in phones %}
                    <tr>
                        <td scope="row">{{ phone.contact_number }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <h5>Addresses:</h5>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">City</th>
                <th scope="col">Street</th>
                <th scope="col">ZIP Code</th>
            </tr>
            </thead>
            <tbody>
            {% if addresses %}
                {% for address in addresses %}
                    <tr>
                        <td scope="row">{{ address.city }}</td>
                        <td scope="row">{{ address.street }}</td>
                        <td scope="row">{{ address.zip_code }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}